<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <link rel="stylesheet" href="../css/registro.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cadastro</title>
  
</head>
<body>
  <div class="container">

    <div class="form-box">

      <h1>Crie sua conta</h1>

      <div style="margin-left: 10px;">

        <input type="text" placeholder="Nome">
        <input type="email" placeholder="E-mail">
        <input type="tel" placeholder="Telefone">
        <input type="text" placeholder="CPF">
        <input type="password" placeholder="Senha">
        <input type="password" placeholder="Confirmar senha">
        <button>Concluir</button>

      </div>
    </div>
    <div class="logo-area">
      <img src="../../images/imagem_2025-05-03_155311002-removebg-preview - Copia.png" alt="Logo">
      <h2>
        <span>VER-O-</span>
        <span>ANÚNCIO</span>
      </h2>
    </div>
  </div>
</body>
</html>