<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Anúncios</title>
    <link rel="stylesheet" href="src/app/public/frontend/css/tela de anuncios.css">
</head>
<body>
    <H1>VER-O-ANÚNCIO</H1>
    <p>imóveis, restaurantes e objetos</p>
</br>
   
        <!-- Adicione mais anúncios conforme necessário -->
    <form id="search-form" action="/buscar-anuncio" method="GET">
        <input type="text" name="query" placeholder="Buscar anúncio..." required>
        <button type="submit">Pesquisar</button>
    </form>
    <div id="anuncios">

        <javascript src="src/app/public/frontend/js/tela de anuncios.anuncios em destaque"></javascript>
        </script>
        
        <!-- Os anúncios serão carregados aqui -->
        <aside id="barra lateral">
            <nav>
            <ul>
                <li><a href="pagina1.html">minha conta</a></li>

                <li><a href="pagina2.html">meus anúncios</a></li>

                <li><a href="pagina3.html">favoritos</a></li>

                <li><a href="adicionar-anuncio.html">Criar Anúncio</a>
                <javascript src="src/app/public/frontend/js/tela de anuncios.js"></script></li>
            
                </ul>
            </nav>
        </aside>
    </div>

</body>
</html>