body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdf1c1;
}

header {
  background-color: #2e5c3e;
  padding: 20px;
  justify-items: center;
}

.header-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fdf1c1;
  font-size: 40px;
  font-weight: bold;
}
.arrow {
  color: #fdf1c1;
  text-decoration: none;
  font-size: 40px;
}
.arrow:hover {
  color: #f0b340;
}


.card {
  display: flex;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 5% 10% 5% 10%;
  padding: 30px;
  gap: 80px;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: rgb(73, 73, 73) 0px 0px 10px;
  max-height: 900px;
  max-width: 2000px;
  margin-inline: 20px;
}

.image-box {
  background-color: antiquewhite;
  display: flex;
  border: #f0b340 8px solid;
  border-radius: 20px;
  padding: 25px;
  width: 60%;
  height: 50%;
  left: -20px;
  margin: 5%;
  box-sizing: border-box;
   max-height: 900px;
  max-width: 2000px;
}

.image-box img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 15px;
   max-height: 900px;
  max-width: 2000px;
}

/* Responsividade */
@media (max-width: 900px) {
  .card {
    flex-direction: column;
    gap: 30px;
    margin: 5%;
    padding: 15px;
  }
  .image-box {
    width: 100%;
    height: 250px;
    padding: 10px;
    margin: 0 0 20px 0;
    flex: none;
  }
}

@media (max-width: 600px) {
  .header-text {
    font-size: 7vw;
  }
  .card {
    margin: 2%;
    padding: 5px;
    gap: 10px;
  }
  .image-box {
    width: 100%;
    height: 180px;
    padding: 5px;
    border-width: 4px;
  }
  .content h2 {
    font-size: 5vw;
  }
  .content p, .seller, .address {
    font-size: 3.5vw;
  }
  .btn {
    font-size: 4vw;
    padding: 10px 16px;
  }
}


.star {
  position: relative;
  top: 10px;
  right: 10px;
  color: transparent;
  font-size: 26px;
  -webkit-text-stroke: 2px #2f5a31;
  stroke-width: 2px #2f5a31;
}

.content {
  position: relative;
  color: #2e5c3e;
  padding: 2%;
  line-height: 1.8;
  margin: 2%;
  min-width:20% ;
}

.content h2 {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2.5vw;
}

.content p {
  margin-bottom: 2%;
  line-height: 2;
  font-size: 1.5vw;
}

.content h3 {
  margin-top: 2.5%;
  margin-bottom: 2%;
  font-size: 2vw;
}

.seller, .address {
  margin-bottom: 15px;
  font-size: 20px;
}

.btn {
  display: inline-block;
  padding: 18px 28px;
  background: #f0b340;
  color: #2e5c3e;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 22px;
  border: none;
}

.btn:hover {
  background: #ffd182;
  color: #0f722d;
}

.arrow:hover {
  color: #f0b340;
}
.data{
  
  margin-left: 90%;
  font-size: 1.5rem;
}
