
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #fdf1c1; 
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      display: flex;
      align-items: center;
    }

    .form-box {
      background-color: #2f5735;
      padding: 30px;
      border-radius: 30px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      width: 320px;
    }

    .form-box h1 {
      color: #f9eec5;
      font-size: 28px;
      margin-bottom: 20px;
      text-align: left;
    }

    .form-box input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      background-color: #f4dfb6;
      color: #2f5735;
    }

    .form-box input::placeholder {
      color: #627e60;
    }

    .form-box button {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background-color: #f4b938;
      border: none;
      color: #2f5735;
      font-size: 18px;
      font-weight: bold;
      border-radius: 10px;
      cursor: pointer;
    }

    .logo-area {
      margin-left: 40px;
    }

    .logo-area img {
      width: 160px; /* Aumentado */
      margin-bottom: 10px;
    }

    .logo-area h2 {
      color: #2f5735;
      font-size: 26px;
      margin: 0;
    }

    .logo-area h2 span {
      display: block;
    }
  